{{> header }}
<div class="card-deck">
    {{# if noGames}}
        <h1 id="#noGamesFound">No games found</h1>
    {{/if}}
    {{# each games}}
        <div class="col-sm-4">
        <div class="card" style="max-width: 15rem;">
            <img class="card-img-top" src="{{img}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{gameTitle}}</h5>
                <p class="card-text">{{sliceDescription description}}</p>
<!--                replace href link with "/games{{gameId}} when individual product page is up-->
                <form action="/productDetails/{{gameId}}">
<!--                    <h7>Learn More <i class="fas fa-angle-double-right"></i></h7>-->
                    <input type="hidden" name="productId" value={{gameId}}>
                    <input type="submit" id="productId" class="learnMoreBtn" value="Learn More"/>
                </form>
<!--                <a href="/productDetails" class="black-text d-flex justify-content-end">-->
<!--                    <h7>Learn More <i class="fas fa-angle-double-right"></i></h7>-->
<!--                </a>-->
            </div>
        </div>
        </div>
    {{/each}}
</div>
{{> footer }}