{{> loggedInHeader }}
<body id="productDetailsBody">
    <div id="productDetailsImg">
        <img src="{{ productDetails.img}}" width="250px"/>
    </div>
    <div id="productDetailsContent">
        <h1>{{productDetails.gameTitle}}</h1>
        <h5>{{productDetails.description}}</h5>
        <h6 class="productDetailColors">Price: ${{productDetails.amount}}</h6>
        <h6 class="productDetailColors">Rating: {{productDetails.rating}}</h6>
        {{# if productDetails.qty}}
            <h6 class="productDetailColors">Quantity: {{productDetails.qty}}</h6>
            <form action="/cart" method="get">
                <input type="hidden" name="productID" value={{productDetails.gameId}}>
                <button type="submit" class="btn btn-success" id="addToCartButton">Add to Cart</button>
            </form>
        {{else}}
            <h6 id="outOfStock">Out Of Stock</h6>
        {{/if}}
    </div>
</body>
{{> footer }}